---
title: "Jade, Less, CoffeeScript - I'm lazy and I like it"
layout: post
description: "Templating and preprocessing tools for web developers, g33ks and lazy people"
keywords: "jade, less, nodejs, web developers"
brief: "The truth is that good quality developers should be lazy too. And there are several reasons hard to understand for managers, but that's reality."
---
.container
  p Developers should be lazy. Because a lazy person doesn't likes the routine.
  p A lazy developer will always find ways how to do things faster, do the job and automate thing when necesarry.
  p You find this in 
    abbr(title="Don't Repeat Yourself") DRY 
    | principle, you find it in frameworks concepts, you find it in the software you use.
  h2 Jade
  dl
    dt What is 
      a(href="http://jade-lang.com/") Jade
      | ?
    dd It's an HTML templating system or an HTML preprocessor.
    dt What's a preprowhat?
    dd Preprocessor, a tool that takes a an input written in a markup or programming language, processes it and outputs a final static version of it in a certain markup language, like HTML, CSS or even a programming language like JavaScript.
    dt Why would you use Jade?
    dd Because you write way more faster html code and don't have to spend time searching for unclosed tags and small typos. Using Jade you have to follow a few super logical concepts and standards. There are easy that I think that a child can understand them (It took me less then 1h to get confortable with it).
    dt Can templates have dynamic data passed to it?
    dd Jade supports variables and has a few functions to dynamically construct blocks of content. It could be used for example in CMS applications like WordPress, Drupal, power Views in MVC frameworks on different programming languages, even Java on Android as an example.
  h2 Less
  dl
    dt What is 
      a(href="http://lesscss.org/") {Less}
      | ?
    dd Less is a CSS preprocessor.
    dt Why would I use Less
    dd You can maintain much more easy the CSS of a website by modularizing all CSS in smaller files, use mixens (some sort of functions) to make easier to output browser compatible code, cool fancy CSS3 code and many other things. Also, you can ask it to create readable or super compressed CSS in a single tiny final file.
  dl
    dt Are this the only preprocessors out there for HTML or CSS?
    dd No, there are many others, some even more powerfull, some oriented for some specific stuff. For example when working with 
      a(href="http://php.net") PHP 
      | projects, like 
      a(href="http://wordpress.org") WordPress
      |  or 
      a(href="http://drupal.org") Drupal
      | , I like to use 
      a(href="http://sass-lang.com") Sass
      |  and write templates with 
      a(href="http://haml.info/") HAML
      | , or recent for Drupal 8, it works by default with 
      a(href="http://twig.sensiolabs.org/") Twig
      |  which is prety awesome too.
    dt I'm a Frontend Developer, why should I bother learning them, I think this is Backend teritory?
    dd I think you need to reevaluate yourself. This is the future and this tools are good to be used on Frontend and Backend as well, depending what you do. For example you can use 
      a(href="http://coffeescript.org/") CoffeeScript
      |  to write less JavaScript code, maintain it more easier in the future and update to future new standards more easier. And of course, you can use JavaScript for Frontend and Backend as well, or you didn't find it yet? Of course this is way more minimal then learning a full featured programming language, kids stuff.
  