---
title: "Hello from DocPad"
layout: post
description: "This post is written in Jade, managed by DocPad and it's fucking fast"
keywords: "docpad, jade, blog, post, article, nodejs, static"
brief: "I discovered Docpad last week and fell in love for the first minute with it."
---
.container
	h2 DocPad
	p
		| I found
		a(href="http://docpad.org") DocPad
		|  last week and fell in love from the first minutes reading it's introduction
		| and watching the video introduction.
	p I didn't even had the patience to read all docs and watch the full videos.
	p I went into action immediately and rebuilded my hole website with it.
	p In a few hours I've managed to get most things working and even learned
		a(href="http://jade-lang.com") Jade language
		|  that I really like it more then other html templating engines.
	p In the next few days I'll be back with an article about the full process
		| of how I've managed to get so quickly with DocPad, Node.js, CoffeeScript and other things
		| and built everything custom here.
	.well.well-sm.text-info
		span.text-primary PS
		|  What do you think about static, but still dynamic?